spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${DATABASE_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false

  devtools:
    add-properties: false
  
  server:
    port: ${PORT:8080}
  frontend-url: ${FRONTEND_URL:http://localhost:5173}



# ===============================
# JWT CONFIG (PROD)
# ===============================
jwt:
  secret: ${JWT_SECRET}
  expiration-ms: 3600000

# ===============================
# WEB PUSH (VAPID) CONFIG (PROD)
# ===============================
push:
  vapid:
    public-key: ${VAPID_PUBLIC_KEY}
    private-key: ${VAPID_PRIVATE_KEY}
    subject: ${VAPID_SUBJECT}

google:
  client:
    id: ${GOOGLE_CLIENT_ID}
    secret: ${GOOGLE_CLIENT_SECRET}
  redirect:
    uri: ${GOOGLE_REDIRECT_URI}
